.page__bottom {
    width: 100%;
    height: 15%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page__bottom span {
    width: 3%;
    height: 45%;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.page__bottom span:first-child {
    background-color: #00529E;
    color: white;
}

.page__bottom span:last-child {

}