.team {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team__top {
    width: 100%;
    height: 85%;
}

.team__bottom {
    width: 100%;
    height: 15%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.team__bottom span {
    width: 3%;
    height: 45%;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.team__bottom span:first-child {
    background-color: #00529E;
    color: white;
}