.player__table {
    width: 100%;
    height: 100%;

    background-color: white;
}

.player__table thead {
    width: 100%;
    height: 8%;
}

.player__table__th {
    height: 100%;

    border: 1px solid #ccc;
    background-color:#F0F0F0;

    vertical-align:middle;
    text-align: center;
}

.player__table tbody {
    width: 100%;
    height: 92%;

    background-color: aqua;
}

.player__table tbody tr {
    
}

.player__table td {
    height: 100%;

    border: 1px solid #ccc;
    background-color: white;

    vertical-align:middle;
    text-align: center;
}
