.write form {
    width: 100%;
    height: 98%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.write__table {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.write thead {
    width: 100%;
    height: 8%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
}

.write tbody {
    width: 100%;
    height: 83%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.write tbody tr:first-child {
    width: 100%;
    height: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.write tbody tr:first-child td {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.write tbody tr:first-child td input {
    padding-left: 1%;
    width: 49%;
    height: 50%;
}

.write tbody tr:last-child {
    width: 100%;
    height: 100%;

}

.write tbody tr:last-child td {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.write tbody tr:last-child textarea {
    width: 49%;
    height: 90%;

    padding-left: 1%;
    padding-top: 1%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.write__submit {
    width: 50%;
    height: 7%;

    margin-bottom: 2%;

}